body {
	background-color: lightgreen;
	font-family: sans-serif;
}

.principal {
	width: 700px;
	margin: auto;
}

h1 {
	width: 700px;
	text-align: center;
	background-color: #D7DBDD;

}

.logo {

	width: 100px;
}


fieldset {

	margin-top: 20px;
}

.row {

	margin-bottom: 20px;
}

textarea {
	width: 400px;
	height: 150px;
	resize: none;
}

#submit_button{

	margin-bottom: 0;
	background-color: lightgray;
}

table{

	margin-top: 50px;
}

.titulo{
	
	text-align: center;
}


td{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	font-size: 14px;
	padding: 10px;
	background-color: #16A085;
}

.campo{

	text-align: center;

}

.valor{

	text-align: justify;
}